@import "tailwindcss";
@import "tw-animate-css";

:root{
  --delaika-black: #0e100f;
  --delaika-text:#FFC880 ;
  --delaika-purple:#5A189A ;
  --delaika-purple-dark:#3C096C ;
}

body {
  font-family: var(--font-hanken), sans-serif;
  font-weight: 300;
  font-stretch:extra-expanded;
}

.section{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.section-bg{
  position: absolute;
  width: 100%;
  height: 100%;
}

.transition-grid{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   z-index: 9999;
   overflow: hidden;
}

.transition-block{
  position: absolute;
  background-color: rgb(70, 12, 92);
  opacity: 0;
}

.container{
  position: relative;
  width: 100%;
  height: 100svh;
  background-color: #000000;
}

.slider{
  position: absolute;
  width: 100%;
  height: 100svh;
  perspective: 250px;
  perspective-origin: 50% 100%;
  overflow: hidden;
}

.slide{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
  width: 50%;
  height: 400px;
  border-radius: 0,25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform, opacity;
  overflow: hidden;
}

.slide-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-title{
  color:#111111;
  font-family: sans-serif;
  font-size: 4rem;
  font-weight: 450;
  letter-spacing: -0.15rem;
}

.slide-word{
  will-change: transform;
}

@media (max-width: 1000px){
  .slide{
    width: 70%;
  }
  .slide-title{
    font-size: 2rem;
    letter-spacing: 0;
  }
}

  