@import "tailwindcss";
@import "tw-animate-css";

@import "tailwindcss";
@import "tw-animate-css";

:root{
  --m-negro: #111111;
  --m-blanco:#ffffff;

  
}

body{ font-family: "Chewy";
font: 300;}

.section{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.section-bg{
  position: absolute;
  width: 100%;
  height: 100%;
}

.transition-grid{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   z-index: 9999;
   overflow: hidden;
}

.transition-block{
  position: absolute;
  background-color: darkblue;
  opacity: 0;
}
