@import "tailwindcss";
@import "tw-animate-css";

:root{
  --bg: #0E0E10; /*fondo principal*/
  --bg2: #1C1C22;  /*fondo secundario*/
  --text: #FFFFFF;  /*texto principal*/
  --text2: #E6E6EB;  /*texto secundario*/
  --labels: #8E8E99;  /*labels*/
  --accent: #2EFF7A;  /* acento */
}

  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  body {
    font-family: 'Satoshi', sans-serif;
  }


.section{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.section-bg{
  position: absolute;
  width: 100%;
  height: 100%;
}

.transition-grid{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   z-index: 9999;
   overflow: hidden;
}

.transition-block{
  position: absolute;
  background-color: #2EFF7A;
  opacity: 0;
}

.container{
  position: relative;
  width: 100%;
  height: 100svh;
  background-color: #030b02;
}

.slider{
  position: absolute;
  width: 100%;
  height: 100svh;
  perspective: 250px;
  perspective-origin: 50% 100%;
  overflow: hidden;
}

.slide{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
  width: 50%;
  height: 400px;
  border-radius: 0,25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform, opacity;
  overflow: hidden;
}

.slide-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-title{
  color:#111111;
  font-family: sans-serif;
  font-size: 4rem;
  font-weight: 450;
  letter-spacing: -0.15rem;
}

.slide-word{
  will-change: transform;
}

@media (max-width: 1000px){
  .slide{
    width: 70%;
  }
  .slide-title{
    font-size: 2rem;
    letter-spacing: 0;
  }
}

  